.article__paragraph {
    margin: 0;
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * .9);
    margin-top: calc(var(--index) / 1.25);
    transform: var(--article-transform);
    will-change: transform;
    transition: var(--transition);
}