.header {
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: calc(var(--index) * 10);
    background-image: url("../../images/ground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc(var(--index) * -4.5);
}